/*-----ESTILO PARA LA PAGINA SOBRE MI
	-----
	AUTOR: Florencia González*/

/*REFERENCIAS*/
/*Paleta de colores

#B695BE
#664171
#3A243F
#241628
#9664A6

font-family: 'Srisakdi', cursive;
font-family: 'Ranga', cursive;
font-family: 'Satisfy', cursive;
*/


/*BODY*/
body {background-image: url(../Images/bkgr.jpg
	);
	background-size: cover;
	background-attachment: fixed;
	
}

/*HEADER*/

header {background-color: rgb(58, 36, 63, 0.89);
width: 100%;
top: 0;
}

h1 {color:#9664A6;
font-family: 'Srisakdi', cursive;
font-style: bold;
text-align: center;}


}
/*MAIN*/


.Profile { position: absolute; 
	width: 100%; 
	padding-left: 10%;
	padding-right: 10%;
	display: flex;
	margin-left:10%;
margin-right: 10%;}

.Bio {background-color: rgb(0,0,0, 0.89);
	width: 40%;
	;
float: right;
color:#9664A6;
font-family: 'Ranga', cursive;
margin-right: 10%;

}

.profilepic {background-color: rgb(0,0,0, 0.6);
	width: 40%;
float: left;
color: #9664A6;
padding: 5%;
	margin-left: 10%;
	clear: all;


}

#propic { width: 90%;
 }

h2	{margin-left: 2%;}



/*Slideshow*/

* {box-sizing: border-box;}
.slide {display: none;}
img {vertical-align: middle;}

.slideshow-container {
  position: relative;
  margin: auto;
  height: 50%;
  width: 50%;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/*FOOTER*/

footer { background-color: rgb(0,0,0,0.89);
	
bottom: 0;
text-align: center; 
width: 100%;
padding-right:2%;}

